/* not ripped section */

.readmore
{
	cursor: pointer; 
	cursor: hand;
	margin-bottom: 0px;
}

.searchbox
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.content_main
{
	width: 100%;
	text-align: justify;
}

.orange .nav_bar
{
	z-index: 1;
}

.site-title
{
	width: 228px;
	height: auto;
}

.closed
{
	display:none;
}

.dataset
{
	margin-top: 7px;
	padding: 10px;
	background-color: #f6d4b2;
	display: block;
	overflow:auto;
}

.dataset h2
{
	font-weight: bold;
}

.search-loading
{

}

.dataset_title_title
{
	width: 78%;
	float: left;
}

.dataset_title_icons
{
	width: 20%;
	float: right;
}

.dataset_title_icons a
{
	color: inherit;
	float: right;
	margin: 5px;
}

.dataset_title_icons a:hover
{
	color: #333333;
}

.dataset_info
{
	width: 100%;
	float: left;
}

form .form-submit
{
	left: 0px;
}

form table input[type=text]
{
	width: 100%;
}

form table .error
{
	border: 1px solid #FF0000 !important;
}

form table .errortext
{
	color: #FF0000 !important;
	text-align: right;
	display: none;
}

.succes
{
	width: 100%;
	padding: 5px;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	display: none;
}

/*
.btn-primary
{
	font-size: 12px;
}

.site-nav
{
	margin-top: 5px;
	float: left;
	width: 100%;
}

.trigger
{
	
}

.page-content
{
	padding-top: 10px;
	text-align: justify;
}

.jumbotron
{
	padding: 8px;
	margin-bottom: 10px;
}

.dataset_title
{
	font-size: 18px !important;
	margin: 0px;
	font-weight: bold;
}

.readmore
{
	font-size: 15px !important;
	margin: 0px !important;
	font-weight: 0;
	cursor: pointer; 
	cursor: hand; 
}

.readmore:hover
{
	color: #df691a;
}

.closed
{
	display:none;
}

.dataset_info_item
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dataset_info_item a
{
	color: #fff !important;
	text-decoration: underline;
}

.dataset_info_item a:hover
{
	color: #df691a !important;
}

*/