/**
 * forms.css
 *
 * Sets up (default) styling for forms.
 *
 * @version			1.1.2
 * @date			2009-10-03
 * @lastmodified	2010-04-13 16:17
 * @author			Studio Dumbar (Jonathan van Wunnik)
 * @project			Starters Kit Rijksoverheid
 * @link			http://www.website.com
 * @cssdoc			version 1.0-pre
 *
 */


/**
 * Baisc form
 *
 * @section			Lables, fieldset, legend, submit, etc. definitions
 */

form ol, form ul { list-style-type: none; margin: 0; padding: 0; }

form legend { color: #000; font-weight: bold; padding-bottom: 1em; white-space: normal; }
form label { font-weight: normal; }

form fieldset li { margin-top: 0.1em; }
form fieldset fieldset legend { font-weight: normal; padding-bottom: 0.2em; }

form em { font-style: normal; color: #666; }
form p { margin-top: 1.4em; }
form p.mandatory { color: #444; font-size: 1em; margin-bottom: -1.8em; text-align: right; }

form input.text,
form textarea { background: #fff; color: #000; border: 1px solid #000; width: 22.2em; padding: 0.2em; }

form input.submit { background: #deebe3; border: 1px solid #000; color: #000; cursor: pointer; font-weight: bold; margin: 0; padding: 0.4em 1em; }
form input.submit { padding: 0.2em 1em; } /* Firefox only */

form .sr { font-size: 1px; line-height: 1px; width: 924px; position: absolute; left: -1000px; }


/**
 * Two column setup form
 *
 * @section			Lables left and inputs right aligned, grey background, two column specific style definitions
 */

form.form_ll legend { padding-bottom: 0.8em; }
form.form_ll label { display: inline-block; vertical-align: top; }

form.form_ll p,
form.form_ll fieldset { margin-bottom: 1.8em; margin-right: 20px; padding: 0; }
form.form_ll p.mandatory { margin-bottom: -1.8em; }
form.form_ll fieldset li { background: #f5f5f5; border-bottom: 0.2em solid #fff; list-style: none; padding: 0.4em 1em 0.4em 1em; }

form.form_ll fieldset fieldset { border: none; margin: 0.3em 0 0; }
form.form_ll fieldset fieldset legend { font-weight: normal; padding-bottom: 0.2em; }
form.form_ll fieldset fieldset label { display: block; width: auto; }

form.form_ll label { width: 12.2em; }
form.form_ll fieldset fieldset label { margin-left: 12.3em; }

form.form_ll fieldset p { margin: 0; padding: 0 0 0 12.5em; }

form.form_ll input.text,
form.form_ll textarea { width: 22.2em; }

form.form_ll input.submit { position: relative; left: 13.4em; }



/**
 * Global search
 *
 * @section			Global search specific definitions
 */

.search { position: absolute; top: 1.2em; right: 5.7em; width: 17.5em; }
.search.centered { top: 1.6em; }

.search form legend,
.search form label { font-size: 0; line-height: 0; width: 924px; position: absolute; left: -9000px; }

.search form ol { clear: both; margin: 0; padding: 0; }
.search form li { margin-top: 0; }

.search form input { float: left; margin: 0; }

.search form input.text { width: 10.2em; }
.search form input.text { /*padding-bottom: 0.1em;*/ } /* To horizontally align input.text and input.submit in Firefox on Windows */

.search form input.submit { background-color: #fff; font-size: 1.1em; margin: 0 0 0 -1px; padding: 0.1em 0 0.2em; height: 1.7em; width: 3.9em; }
.search form input.submit { /*padding: 0 0 0.3em;*/ width: 3.7em; } /* Firefox only */

.search ul { clear: both; margin: 0; padding: 0; }
.search ul li { background: none; float: left; margin: 0; padding: 0; }
.search ul li.advanced_search { float: right; }


/**
 * Search results
 *
 * @section			Search results search box ('zoekterm') specific definitions
 */

form.search_box.top { margin: 1em 0 2em; }
form.search_box.bottom { margin: 2em 0 1em; }
form.search_box ol { text-align: center; }
form.search_box legend { display: none; }
form.search_box label { display: inline; vertical-align: baseline; }
form.search_box input.text { padding-bottom: 0.3em; padding-top: 0.3em; width: 23.9em; }
form.search_box input.submit { padding-bottom: 0.4em; padding-top: 0.3em; left: 0; }
form.search_box input.submit { padding-bottom: 0.2em; } /* Firefox only */


/**
 * Form inside module
 *
 * @section			Style definitions of form inside a module and/or box
 */

.mod form { padding-right: 20px; }
.mod.box form { padding-right: 0; }

.mod form input.text,
.mod form textarea { width: 100%; }

/* white background on colored or grey background */
.mod.closed form input.submit { background-color: #fff; }


/**
 * Messages
 *
 * @section			Error and notice (info) message definitions
 */

form input.err
{
	border-color: #d52b1e;
	/* outline: #d52b1e solid 1px; */
}