/**
 * type.css
 *
 * Sets up some sensible default typography.
 *
 * @version			1.1.3
 * @date			2009-08-28
 * @lastmodified	2010-04-26 15:41
 * @author			Studio Dumbar (Jonathan van Wunnik)
 * @project			Starters Kit Rijksoverheid
 * @link			http://www.website.com
 * @cssdoc			version 1.0-pre
 *
 */


/**
 * Default
 *
 * @section			Default font settings
 * @note			Default font-size percentage is 62.5% for a
 *					base font size of 10px (0.625 * 16px = 10px).
 */

body { color: #000; font-family: Verdana, Arial, sans-serif; font-size: 62.5%; line-height: 1.5; }

h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote { padding-right: 20px; }

/**
 * Headings
 *
 * @section			Headings definitions
 * @note			Calculation of line-height if font-size is 15px and line-height
 */

h1, h2, h3, h4, h5, h6 { color: #000; }

h1 { font-family: Arial, Verdana, sans-serif; font-size: 2.2em; font-weight: normal; line-height: 1.2; margin-bottom: 0.6em; margin-top: -0.1em; }
h2 { font-size: 1.5em; font-weight: normal; line-height: 1.2; margin-bottom: 0.75em; margin-top: 1.25em; }
h3, .content_add h2 { font-size: 1.2em; font-weight: bold; line-height: 1.3333; margin-bottom: 0.4343em; margin-top: 1em; }
h4,
h5,
h6 { font-size: 1.1em; font-weight: bold; line-height: 1.4545; margin-bottom: 0.4343em; }

#home h2 { font-family: Arial, Verdana, sans-serif; font-size: 2.2em; font-weight: normal; line-height: 1.2; margin-bottom: 0.7em; margin-top: 0; }
#home .equalize h2, #home .equalize h3, #home .equalize h4,
#login .equalize h2, #login .equalize h3, #login .equalize h4,
#home h3, #home h4, #home h5, #home h6,
#home .box h2.head, .box h2.head, .box h3.head, .box h4.head, .box h5.head, .box h6.head { font-family: Arial, Verdana, sans-serif; font-size: 1.5em; font-weight: bold; line-height: 1.2; margin-bottom: 0.2em; margin-top: 0; }
#home .box h2.head.small, .box h2.head.small, .box h3.head.small, .box h4.head.small, .box h5.head.small, .box h6.head.small { font-size: 1.2em; }

.title_bar { font-family: Arial, Verdana, sans-serif; font-size: 1.8em; font-weight: bold; line-height: 1.7; }
.title_bar h1 { font-size: 1em; font-weight: bold; line-height: 1.7; margin-bottom: 0; margin-top: 0; }


/**
 * Text elements
 *
 * @section			Basic text element styles
 */

a:link { color: #154273; text-decoration: none; }
a:visited { color: #696969; }
a:hover, a:visited:hover, a:active, a:focus { color: #0162cd; text-decoration: underline; }

.nav_main { font-family: Arial, Verdana, sans-serif; font-size: 1.2em; font-weight: bold; }

p { font-size: 1.1em; margin-bottom: 1.4545em; }
p img.left { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

blockquote { margin: 1.4545em; color: #474747; font-style: italic; font-weight: bold; }
blockquote p { margin-bottom: 0.4em; }
/*
blockquote p:before { content: '\201c'; }
blockquote p:after { content: '\201d'; }
*/
strong { font-weight: bolder; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { font-size: 0.9em; line-height: 0; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

abbr,
acronym { border-bottom: 1px dotted #666; }
address { margin: 0 0 1.5em; font-style: italic; }
del { color:#666; }

pre, code {
	margin: 1.5em 0;
	/*white-space: pre-wrap;*/			/* css-3 */
	/*white-space: -moz-pre-wrap;*/		/* Mozilla, since 1999 */
	/*white-space: -pre-wrap;*/			/* Opera 4-6 */
	/*white-space: -o-pre-wrap;*/		/* Opera 7 */
	/*word-wrap: break-word;*/			/* Internet Explorer 5.5+ */
}
pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/**
 * Lists
 *
 * @section			List style defenitions
 */

ul, ol { font-size: 1.1em; line-height: 1.6; list-style-position: outside; margin-bottom: 2.2em; }

ul { list-style-type: disc; }
ol { list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }


/**
 * Forms
 *
 * @section			Form element styles
 */

form.form_ll fieldset label,
form.form_ll fieldset p { font-size: 1em; }

form input.text,
form textarea { font-family: Arial, Verdana, sans-serif; font-size: 1.1em; line-height: 1.5; }
form input.text { line-height: 1; }

form input.submit { font-size: 1em; }


/**
 * Tables
 *
 * @section			Basic table styling
 * @note			Information about table markup: http://www.456bereastreet.com/archive/200410/bring_on_the_tables/
 */

table { border-collapse: separate; border-spacing: 0.2em; margin: 0 0 2.2em -0.2em; text-align: left; width: 100%; }
th { font-size: 1.1em; font-weight: normal; background: #e1e1e1; }
th.empty { background: #fff; }
th, td { padding: 0.4em 0.9em 0.4em 0.5em; }
td { background: #f5f5f5; }
tr.even td { background: #f0f0f0; }
tfoot { font-style: italic; }
caption { font-weight: bold; padding-left: 0.2em; padding-bottom: 1em; text-align: left; }
table th { white-space: nowrap; }
.table { padding-right: 20px; }



/**
 * Miscellaneous
 *
 * @section			Handy miscellaneous text styling classes
 */

.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875; }
.large { font-size: 1.2em; line-height: 2.5; margin-bottom: 1.25em; }
.hide { display: none; }


/**
 * Skip/jump links
 *
 * @section			Class to 'hide' skip and jump links in the presentation layer, but not for screenreaders
 * @note			See http://hicksdesign.co.uk/journal/skip-navigation-links
 */

.skiplink { font-size: 1px; line-height: 1px; width: 924px; position: absolute; left: -1000px; }


/**
 * Image replacement
 *
 * @section			Class for resuable (inline and block) image replacement
 * @note			Yet Another Image Replacement Method:
 *					http://www.evotech.net/blog/2007/09/css-image-replacement-method/
 */

.imgreplacement {
	background-color: transparent;
	background-position: left top;
	background-repeat: no-repeat;
	/*color: rgba(255,255,255,0);*/
	font: 1em/1em sans-serif;
	display: inline-block;
	overflow: hidden;
	text-indent: -9000px;
	padding: 0;
	vertical-align: middle; /* options: middle, bottom, top, text-bottom, text-top */
	/*display: -moz-inline-box;*/ /* inline-block fix for Firefox 3 and older */
}