<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-language" content="nl" />
	<meta name="keywords" content="PDOK, Kaart, BRT, BAG, WMS, WMTS, WFS, Geo, GIS, TOPNL, TOPRaster" />
	<meta name="description" content="Via het PDOK dataplatform kunt u een ruime keuze aan digitale geo-informatie van de overheid opvragen in diverse vormen van dataservices en -bestanden." />
	<link rel="shortcut icon" href="https://www.pdok.nl/sites/all/libraries/starterskit/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="icon" href="https://www.pdok.nl/sites/all/libraries/starterskit/favicon.ico" type="image/x-icon" />
	<meta http-equiv="cleartype" content="on" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->
	<!--<link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">-->
	
	<link rel="stylesheet" href="{{ "/css/pdok.rip.screen.css" | prepend: site.baseurl }}" media="screen">
	<link rel="stylesheet" href="{{ "/css/pdok.rip.rijk1.css" | prepend: site.baseurl }}" media="screen">
	<link rel="stylesheet" href="{{ "/css/pdok.rip.rijk5.css" | prepend: site.baseurl }}" media="screen">
	<link rel="stylesheet" href="{{ "/css/ld.datasets.css" | prepend: site.baseurl }}" media="screen">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	<!--<link rel="stylesheet" href="{{ "/css/ld.datasets.css" | prepend: site.baseurl }}">-->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
