<body class="html not-front not-logged-in no-sidebars page-node i18n-nl internet">

	<div class="container equalize page orange default">
		<!-- Function bar at top -->
		<div class="func_links" id="service_menu">
			<ul class="left">
				<li>
					<a href="/feed.xml" title="Bekijk de PDOK RSS feeds" class="rss">RSS</a>	 
				</li>
			</ul>
			<ul class="right">
				<li>
					<a href="https://www.pdok.nl/nl/over-pdok/contact-met-pdok" title="Open mail" class="active-trail active">Contact</a>	 
				</li>
			</ul>
		</div>
	
		<div class="header">
			<span></span>
			<div class="branding">
				<a href="/" title="Ga naar de homepagina"><img class="site-title" src="/resources/images/data.pdok.nl.png" /></a>
			</div>
		</div>
		
		<div class="layout_wrapper">
		
		<div class="nav_bar">
			<ul id="main-navigation" class="nav_main">
				<li class="menu-685 first-item" id="page_home"><a href="/" title="Homepagina" class="active">Home</a></li>
				{% for page in site.pages %}
					{% if page.layout == 'page' %}
						{% if page.title %}
							<li class="menu-685" id="page_{{ forloop.index }}"><a href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}" class="active">{{ page.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}				
			</ul>
		</div>
		
		<!-- Set selected page -->
		<script>
		
			//List of pages ids
			var pages = [];
			{% for page in site.pages %}
				{% if page.layout == 'page' %}
					{% if page.title %}
						pages.push("{{ forloop.index }}");
					{% endif %}
				{% endif %}
			{% endfor %}

			//Requested url (splitted)
			var requestedUrl = window.location.href.split('/');

			if(requestedUrl.length < 2)
				SetSelected("home");
				
			//Get and create the requested url parameter
			if(requestedUrl[requestedUrl.length - 1].indexOf('.') > -1)		//If its a file (.html)
				var pageUrl = "/" + requestedUrl[requestedUrl.length - 1];
			else															//If its a folder (/test/)
				var pageUrl = "/" + requestedUrl[requestedUrl.length - 2] + "/";
			
			//Indicate if a page is found, if false home should be selected
			var pageFound = false;
			
			for(var i = 0; i < pages.length; i++)
			{
				var aElement = $("#page_" + pages[i]).find("a");
				
				if(aElement.length < 1)
					continue;
				
				if(aElement.attr("href") == pageUrl)
				{
					SetSelected(pages[i]);
					pageFound = true;
					break;
				}
			}
			
			if(!pageFound)
				SetSelected("home");
				
			function SetSelected($selected)
			{
				$("#page_" + $selected).addClass( "sel" );
			}

		</script>
		
		<div class="content_wrapper1">
			<div class="content_wrapper2">
				<div class="content">