---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    Datum aangemaakt: {{ page.date }}
  </header>

  <article class="jumbotron">
    {{ content }}
  </article>

</div>
