---
layout: default
---
<script src='{{ "/resources/ld.datasets.js" | prepend: site.baseurl }}'></script>

<h1>{{ site.title }}</h1>
<p class="intro">
	PDOK Data ontsluit diensten van PDOK op meer wijzen dan met de gebruikelijke geo-standaarden zoals WFS en WMS. PDOK Data biedt webdeveloper-vriendelijke API's en Semantisch Web-compatibele endpoints (SPARQL).
</p>
<p>
	Vanuit de PDOK Data proeftuin ontsluit PDOK op experimentele wijze data uit PDOK-services op verschillende manieren.
	Hieronder vindt u de datasets die op deze wijze ontsloten worden:
</p>
	{% raw %}
	<div ng-app="datasetsApp">

		<div ng-controller="datasetsCtrl" data-ng-init="init()">
			<div class="searchbox">
				Zoek in de datasets: <input type="text" ng-model="search_query" ng-keyup="StartSearchQuery($event)">
					{{ currentDatasetLength() }}/{{ totallDatasetLength() }}
				<i ng-show="search_loading" class="fa fa-spinner fa-spin fa-2x search-loading"></i>
			</div>
			<div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
				<div class="dataset" ng-repeat="dataset in datasets | filter:query">
					<div class="dataset_title_wrapper">
						<div class="dataset_title_title">
							<h1 class="dataset_title" id="{{ $index }}_title" onclick="ToggleOn(this);">
								{{ dataset.title }}
							</h1>
						</div>
						<div class="dataset_title_icons">
							<a ng-show="dataset.graphURI" href="/ldt/ontw/query/graphclasses?subject={{ dataset.graphURI }}" title="{{ language.ldt_link }}" alt="{{ language.ldt_link }}"><i class="fa fa-cubes fa-2x"></i></a>
							<a ng-show="dataset.wfsURL" href="{{ dataset.wfsURL }}" title="{{ language.wfs_link }}" alt="{{ language.api_link }}"><i class="fa fa-external-link fa-2x"></i></a>							
							<a ng-show="dataset.slug" href="/apis/{{ dataset.slug }}/v1.0" title="{{ language.api_link }}" alt="{{ language.api_link }}"><i class="fa fa-external-link fa-2x"></i></a>
							<a ng-show="dataset.slug" href="https://swaggerhub.com/api/pdok/{{ dataset.slug }}" title="{{ language.api_doc }}" alt="{{ language.api_doc }}"><i class="fa fa-file-text fa-2x"></i></a>
						</div>
					</div>
					<div class="dataset_info">
						<p id="{{ $index }}_closed" class="readmore" onclick="ToggleOn(this);">
							{{ language.general_readmore }}
						</p>
					</div>
					<div id="{{ $index }}_open" class="dataset_info closed">
						<p class="dataset_info_item" ng-show="dataset.description">
							{{ dataset.description }}
						</p>

						<p class="dataset_info_item" ng-show="dataset.slug">
							<i class="fa fa-file-text"></i> {{ language.api_doc }}: <a href="https://swaggerhub.com/api/pdok/{{ dataset.slug }}">{{ language.dataset_link }}</a>
						</p>

						<p class="dataset_info_item" ng-show="dataset.slug">
							<i class="fa fa-external-link"></i> {{ language.api_link }}: <a href="/apis/{{ dataset.slug }}/v1.0">{{ language.dataset_link }}</a>
						</p>

						<p class="dataset_info_item" ng-show="dataset.wfsURL">
							<i class="fa fa-external-link"></i> {{ language.wfs_link }}: <a href="{{ dataset.wfsURL }}">{{ language.dataset_link }}</a>
						</p>

						<p class="dataset_info_item" ng-show="dataset.graphURI">
							<i class="fa fa-cubes"></i> {{ language.ldt_link }}: <a href="/ldt/ontw/query/graphclasses?subject={{ dataset.graphURI }}">{{ language.dataset_link }}</a>
						</p>
						
						<p class="dataset_info_item" ng-show="dataset.tags">
							Tags:</br><i>{{ dataset.tags }}</i>
						</p>
						<p class="readmore" id="{{ $index }}_toopen" onclick="ToggleOff(this);">
							{{ language.general_readless }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endraw %}
</div>
